@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.container {
  position: relative;
  border-radius: round(lg);
  background-color: #ffffff20;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
  padding: gap('2xl');
  display: inline-grid;

  .showWin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $clr-green-primary;
    font-size: fSize(xl);
    text-align: center;
    animation-name: fly;
    animation-duration: 2s;
  }

  .showFail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $clr-red-primary;
    font-size: fSize(xl);
    text-align: center;
    animation-name: fly;
    animation-duration: 2s;
  }

  &:hover .showPlay {
    display: flex;
  }

  .showPlay {
    @include flexBoxCenter(none);
    position: absolute;
    height: 22rem;
    width: 22rem;
    border-radius: round(lg);
    margin: gap(lg);
    top: 35.4%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: $clr-white;
    background-color: #0000004f;
    font-size: fSize(xl);
    cursor: pointer;
  }

  img {
    height: 22rem;
    width: 22rem;
    background-color: $clr-white;
    margin: 1rem;
    border-radius: 2rem;
    cursor: pointer;

  }

  input {
    font-size: fSize(sm);
    padding: 1rem;
    border-radius: 2rem;
  }
}

.back-button {
  background-color: #007bff;
  color: var(--clr-light);
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  font-size: fSize(sm);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #0056b3;
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -500%);
    opacity: 0;
  }
}