@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.container {
  display: inline-grid;
  position: relative;
  border-radius: round(lg);
  background-color: clr(sla-700);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
  padding: size(s-2);

  .showWin {
    @include absoluteBoxCenter(none, none);
    text-align: center;
    color: clr(gre-500);
    font-size: fSize(xl);
    animation-name: fly;
    animation-duration: 2s;
  }

  .showFail {
    @include absoluteBoxCenter(none, none);
    color: clr(red-500);
    font-size: fSize(xl);
    text-align: center;
    animation-name: fly;
    animation-duration: 2s;
  }

  &:hover .showPlay {
    @include flexBoxCenter(none);
  }

  .showPlay {
    @include absoluteBoxCenter(35.4%, 46.5%);
    display: none;
    height: size(s-22);
    width: size(s-22);
    border-radius: round(lg);
    margin: size(s-1);
    z-index: 2;
    color: clr(w);
    background-color: #0000004f;
    font-size: fSize(xl);
    cursor: pointer;
  }

  img {
    height: size(s-22);
    width: size(s-22);
    background-color: clr(w);
    margin: size(s-1);
    border-radius: round(lg);
    cursor: pointer;

  }

  input {
    font-size: fSize(sm);
    padding: size(s-1);
    border-radius: round(lg);
  }
}

.back-button {
  background-color: clr(blu-600);
  color: clr(gra-100);
  margin-top: size(s-1);
  border-radius: round(lg);
  padding: size(s-1);
  font-size: fSize(sm);
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: clr(blu-800);
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -500%);
    opacity: 0;
  }
}