<div class="signInUpContainer">
  <div class="headline">
    <div [ngClass]="(isloginHeaderPressed) ? 'loginH' : ''" (click)="isloginHeaderPressed = true">Login</div>
    <div [ngClass]="(!isloginHeaderPressed) ? 'registerH' : ''" (click)="isloginHeaderPressed = false">Register</div>
  </div>
  <div class="formContainer">
    <form *ngIf="isloginHeaderPressed">
      <label>Benutzername</label>
      <input #userNameOrEmail type="text" placeholder="z.B. User1234">
      <label>Passwort</label>
      <input #userPassword type="password" placeholder="z.B. 12345678">
      <button class="loginBtn" (click)="login()" type="button" >Anmelden</button>
    </form>
    <form *ngIf="!isloginHeaderPressed">
      <label>Benutzername</label>
      <input #userName type="text" placeholder="z.B. User1234">
      <label>E-Mail</label>
      <input #userEmail type="email" placeholder="z.B. example@mail.com">
      <label>Passwort</label>
      <input #userPassword type="password" placeholder="z.B. 12345678">
      <button class="registerBtn" (click)="register()" type="button" >Registrieren</button>
    </form>
  </div>
</div>