@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.page {
  display: flex;
  flex-direction: row;
  .games{
    height: size(h-100);
    width: size(w-100);
    @include flexBoxCenter(none)
  }
}