.gameMenuContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  box-shadow: var(--box-shadow-lg);

  .game-image {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 4rem;
    margin: 4rem;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.75;
    }
  }

  app-lootbox {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
