@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flexBoxCenter(none);
  width: 100%;
  height: calc(100svh - 8rem);

  .gameMenuContainer {
    @include flexBoxCenter(none);
    flex-wrap: wrap;
    margin: auto;
    box-shadow: $box-shadow-lg;

    .game-image {
      width: size(w-20);
      height: size(h-40);
      object-fit: cover;
      border-radius: round(xl);
      margin: size(s-2);
      cursor: pointer;
      transition: opacity 200ms;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}