// Neutral Colors
$clr-white: #ffffff;
$clr-white-dark: #f0f0f0;
$clr-black: #000000;
$clr-gray-light: #e5e7eb;

//🔴 Red & Orange Tones
$clr-red-primary: #e7000b;
$clr-orange-bright: #ff6900;
$clr-orange-deep: #A5531F;
$clr-orange-soft: #EAAF5E;

//🔵 Blue Tones
$clr-blue-sky: #b8e6fe;
$clr-blue-primary: #00a6f4;
$clr-blue-dark: #314158;
$clr-blue-accent: #2b7fff;
$clr-blue-deep: #193cb8;
$clr-blue-royal: #0528B3;
$clr-blue-cyan: #2DE3FE;
$clr-blue-slate: #1e2939;

//🟢 Green Tones
$clr-green-primary: #00a63e;

//🟤 Brown Tones
$clr-brown-dark: #482D11;


//Shadow
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

//Fonts
$font-weights: (
  "sm" : 400,
  "md" : 600,
  "lg" : 800,
);

@function fWeight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

$font-sizes: (
  "xs" : 1rem,
  "sm" : 1.5rem,
  "md" : 2rem,
  "lg" : 2.5rem,
  "xl" : 3rem,
);

@function fSize($size-name) {
  @return map-get($font-sizes, $size-name);
}

$gap-sizes: (
  "1/4" : 0.25rem,
  "2/4" : 0.5rem,
  "3/4" : 0.75rem,
  "xs" : 1rem,
  "sm" : 1.5rem,
  "md" : 2rem,
  "lg" : 2.5rem,
  "xl" : 3rem,
);

@function gSize($size-name) {
  @return map-get($gap-sizes, $size-name);
}