// Neutral Colors
$clr-white: #ffffff;
$clr-white-dark: #f0f0f0;
$clr-black: #000000;
$clr-gray-light: #e5e7eb;

//🔴 Red & Orange Tones
$clr-red-primary: #e7000b;
$clr-orange-bright: #ff6900;
$clr-orange-deep: #A5531F;
$clr-orange-soft: #EAAF5E;

//🔵 Blue Tones
$clr-blue-sky: #b8e6fe;
$clr-blue-primary: #00a6f4;
$clr-blue-dark: #314158;
$clr-blue-accent: #2b7fff;
$clr-blue-deep: #193cb8;
$clr-blue-royal: #0528B3;
$clr-blue-cyan: #2DE3FE;
$clr-blue-slate: #1e2939;

//🟢 Green Tones
$clr-green-primary: #00a63e;

//🟤 Brown Tones
$clr-brown-dark: #482D11;


//Shadow
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
$box-shadow-lg: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$box-shadow-inset: inset 2px 2px 5px #d1d5db, inset -2px -2px 5px #ffffff;

//Fonts
$font-weight-values: (
  "sm" : 400,
  "md" : 600,
  "lg" : 800,
);

@function fWeight($weight-name) {
  @return map-get($font-weight-values, $weight-name);
}

$font-size-values: (
  "xs" : 1rem,
  "sm" : 1.5rem,
  "md" : 2rem,
  "lg" : 2.5rem,
  "xl" : 3rem,
);

@function fSize($size-name) {
  @return map-get($font-size-values, $size-name);
}

//Box Model
$gap-size-values: (
  "1/4" : 0.25rem,
  "2/4" : 0.5rem,
  "3/4" : 0.75rem,
  "xs" : 1rem,
  "sm" : 1.5rem,
  "md" : 2rem,
  "lg" : 3rem,
  "xl" : 4rem,
);

@function gap($size-name) {
  @return map-get($gap-size-values, $size-name);
}

$round-values: (
  "xs" : 0.5rem,
  "sm" : 1rem,
  "md" : 1.5rem,
  "lg" : 2rem,
  "xl" : 4rem,
  "full" : 50%,
);

@function round($size-name) {
  @return map-get($round-values, $size-name);
}

$sizes: (
  "1/10" : 10%,
  "2/10" : 20%,
  "3/10" : 30%,
  "4/10" : 40%,
  "5/10" : 50%,
  "6/10" : 60%,
  "7/10" : 70%,
  "8/10" : 80%,
  "9/10" : 90%,
  "full" : 100%,
  "300" : 300px,
  "400" : 400px,
  "500" : 500px,
  "600" : 600px,
);

@function size($size-name) {
  @return map-get($sizes, $size-name);
}

/* CLASS EXAMPLE LAYOUT

.example{
  // 
  // Layout
  //
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  //
  // Box Model 
  //
  width: 300px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;

  //
  // Typography
  //
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;

  //
  // Visual Appearance 
  //
  background-color: #fff;
  background-image: linear-gradient(to bottom right, #f9f9f9, #e0e0e0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.95;

  //
  // Interaction 
  //
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;

  // Animation
  //
  animation: fadeIn 0.5s ease-in-out;

  // 
  // Misc
  //
  overflow: hidden;
  pointer-events: auto;
}
*/