// Neutral Colors
$clr-white: #ffffff;
$clr-white-dark: #f0f0f0;
$clr-black: #000000;
$clr-gray-light: #e5e7eb;

//🔴 Red & Orange Tones
$clr-red-primary: #e7000b;
$clr-orange-bright: #ff6900;
$clr-orange-deep: #A5531F;
$clr-orange-soft: #EAAF5E;

//🔵 Blue Tones
$clr-blue-sky: #b8e6fe;
$clr-blue-primary: #00a6f4;
$clr-blue-dark: #314158;
$clr-blue-accent: #2b7fff;
$clr-blue-deep: #193cb8;
$clr-blue-royal: #0528B3;
$clr-blue-cyan: #2DE3FE;
$clr-blue-slate: #1e2939;

//🟢 Green Tones
$clr-green-primary: #00a63e;

//🟤 Brown Tones
$clr-brown-dark: #482D11;