@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.background {
  width: size(w-60);

  .table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: size(s-2);
    background-color: clr(b);
    color: clr(w);
    border-radius: round(md);
    box-shadow: 0 0 size(s-2) rgba(255, 255, 255, 0.1);

    .dealer-section,
    .player-section {
      position: relative;
      width: size(w-25);
      height: size(h-40);
      @include flexBoxCenter(column);
      gap: size(s-1);
      background: clr(gra-900);
      padding: size(s-2);
      border-radius: round(md);
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
      overflow-x: auto;
      overflow-y: clip;

      .buttons {
        display: flex;
        bottom: size(s-2);
        gap: size(s-2);

        .action-button {
          background-color: #1e90ff;
          border: none;
          padding: size(s-0-75) size(s-1);
          border-radius: round(xs);
          color: clr(w);
          font-weight: fWeight(lg);
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: clr(blu-600);
          }
        }
      }
    }

    .versus-divider {
      font-size: 2rem;
      color: clr(gra-50);
    }

    .winner-container {
      @include flexBoxCenter(none);
      width: size(p-100);
      padding: size(s-4);

      .winner-card {
        background: clr(gra-900);
        padding: size(s-2) size(s-4);
        border-radius: round(sm);
        text-align: center;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
        color: clr(w);
        transition: transform 0.3s ease;
        animation: pop-in 0.5s ease-out;

        &.dealer-win {
          border: 2px solid clr(red-500);
          box-shadow: 0 0 size(s-2) clr(red-500);
        }

        &.player-win {
          border: 2px solid clr(gre-500);
          box-shadow: 0 0 size(s-2) clr(gre-500);
        }

        .score-box {
          margin-top: size(s-1);
          font-size: 1.1rem;

          p {
            margin: size(s-1) 0;
          }
        }
      }
    }
  }

  .back-button {
    background-color: clr(blu-600);
    width: size(p-100);
    color: clr(gra-100);
    margin: size(s-2) 0;
    border: none;
    border-radius: round(sm);
    padding: size(s-1) size(s-2);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: clr(blu-800);
    }
  }
}

@keyframes pop-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}