@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.background {
  position: relative;
  border-radius: round(md);
  width: calc(size(w-100) - size(s-40));
  height: calc(size(h-100) - size(s-8));
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: crosshair;

  .header {
    @include flexBoxCenter(none);
    position: relative;
    padding: 0 size(s-1);
    margin-bottom: size(s-1);
    z-index: 1;

    .back-button {
      background-color: clr(cya-300);
      color: clr(blu-900);
      margin-top: size(s-1);
      border: none;
      border-radius: round(xs);
      padding: size(s-0-5) size(s-1);
      font-size: 2rem;
      font-weight: fWeight(md);
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: clr(blu-900);
        color: clr(cya-300);
      }
    }

    .counter {
      margin: auto auto 0 auto;
      font-size: 3rem;
      font-weight: fWeight(md);
      color: clr(cya-300);
    }
  }

  app-circle.circle {
    position: absolute;
    width: size(s-6);
    height: size(s-6);
    transition: transform 0.2s;
    z-index: 2;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: size(s-12);
    cursor: grab;
  }
}