.background {
  width: calc(100svw - 40rem);
  height: calc(100svh - 8rem);
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: crosshair;

  .header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;

    .back-button {
      background-color: #2DE3FE;
      color: #0528B3;
      margin-top: 1rem;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #0528B3;
        color: #2DE3FE;
      }
    }

    .counter {
      margin: auto auto 0 auto;
      font-size: 3rem;
      font-weight: bold;
      color: #2DE3FE;
    }
  }

  app-circle.circle {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: #ff5252;
    border-radius: 50%;
    transition: transform 0.2s;
    z-index: 2;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12rem;
    cursor: grab;
    z-index: 0;
  }
}