@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.cartContainer {
  height: 100svh;
  width: 200px;
  background-color: clr(sla-900);
  color: clr(gra-100);
  border-radius: var(--rounded-sm);
  box-shadow: $box-shadow-lg;

  .cartHeader {
    display: flex;
    justify-content: center;
    margin-top: size(s-0-5);

    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .productListBox {
    width: 100%;
    height: max-content;
    max-height: 80vh;
    overflow-y: auto;

    .product {
      display: flex;
      padding: 6px;
      justify-content: space-between;
      border-bottom: clr(gra-100) solid 1px;

      .productImgBox {
        height: 34px;
        padding: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .productname {
        margin-right: auto;
      }

      .productAmount {
        display: flex;

        div {
          width: 34px;
          padding: var(--gap-y-sm);
          text-align: center;
          border-radius: var(--rounded-full);
          background-color: gray;
          cursor: pointer;
        }
      }

      .productPrice{
        width: 98px;
      }

      .productRemove {
        color: var(--clr-light);
        background-color: var(--clr-danger);
        padding: size(s-1);
        cursor: pointer;
        border-radius: var(--rounded-sm);
      }

      div {
        margin: auto 8px;
        padding: var(--gap-sm);
        font-weight: 600;
      }

      p {
        margin: 0;
        padding: var(--gap-sm);
      }
    }
  }

  .buttonContainer {
    padding: 6px;
    display: flex;
    justify-content: space-around;

    div {
      padding: var(--gap-sm);
      font-weight: 600;

      &:first-child {
        background-color: green;
        color: var(--clr-light);
        cursor: pointer;
        border-radius: var(--rounded-sm);
      }
    }
  }

  @media (width >=40rem) {
    width: 300px;
  }

  @media (width >=48rem) {
    width: 400px;
  }

  @media (width >=64rem) {
    width: 400px;
  }

  @media (width >=80rem) {
    width: 500px;
  }

  @media (width >=96rem) {
    width: 600px;
  }
}