@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.cartContainer {
  height: size(h-100);
  width: size(s-38);
  background-color: clr(sla-900);
  color: clr(gra-100);
  border-radius: round(xs);
  box-shadow: $box-shadow-lg;

  .cartHeader {
    display: flex;
    justify-content: center;
    margin-top: size(s-0-5);

    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .productListBox {
    width: size(p-100);
    height: max-content;
    max-height: size(h-80);
    overflow-y: auto;

    .product {
      display: flex;
      padding: size(s-0-5);
      justify-content: space-between;
      border-bottom: clr(gra-100) solid 1px;

      .productImgBox {
        padding: 0;

        img {
          width: size(s-2);
          height: size(s-4);
          object-fit: cover;
        }
      }

      .productname {
        margin-right: auto;
      }

      .productAmount {
        display: flex;

        div {
          width: size(s-2);
          padding: size(s-0-5) 0;
          text-align: center;
          border-radius: round(full);
          background-color: clr(sla-700);
          cursor: pointer;

          &:first-child:hover,
          &:last-child:hover {
            color: clr(sla-700);
            background-color: clr(gra-100);
          }
        }
      }

      .productPrice {
        width: calc(size(s-6) + 2px);
      }

      .productRemove {
        color: clr(gra-100);
        background-color: clr(red-500);
        padding: size(s-1);
        cursor: pointer;
        border-radius: round(xs);
      }

      div {
        margin: auto size(s-0-5);
        padding: size(s-0-5);
        font-weight: fWeight(md);
      }

      p {
        margin: 0;
        padding: size(s-0-5);
      }
    }
  }

  .buttonContainer {
    padding: size(s-1);
    display: flex;
    justify-content: space-around;

    div {
      padding: size(s-0-5);
      font-weight: fWeight(md);

      &:first-child {
        background-color: clr(gre-500);
        color: clr(gra-100);
        cursor: pointer;
        border-radius: round(xs);
      }
    }
  }
}