<main>
  <div class="leftSide">
    @for (item of products; track $index) {
    <app-product-card [item]="item" (click)="addProduct(item)" />
    }
  </div>
  <div class="rightSide">
    @if (isloggedin == true) {
    <app-profile (islogout)="receiveMessage($event)"></app-profile>
    <app-cart [cartItems]="cart" [itemAmount]="cartAmount" (removeItem)="onRemoveItem($event)" (onPurchase)="onPurchase($event)"></app-cart>
    <app-menu></app-menu>
    } @else {
    <app-sign-in-up (isLoggedIn)="receiveMessage($event)"></app-sign-in-up>
    }
  </div>
</main>