@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.start-page {
  display: flex;

  .content {
    @include flexBoxCenter(none);
    width: size(w-100);
    padding: size(s-2) size(s-2);

    .hero {
      @include flexBoxCenter(column);
      text-align: center;
      max-width: size(s-64);
      width: size(p-100);
      gap: size(s-2);

      .hero-image {
        width: calc(size(p-100) - size(s-8));
        max-width: size(s-64);
        border-radius: round(md);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      }

      .hero-text {
        max-width: size(s-64);
        color: clr(w);

        h1 {
          font-size: fSize(lg);
          color: clr(yel-300);
          margin-bottom: size(s-1);
        }

        p {
          font-size: fSize(sm);
          line-height: 1.7;
          margin-bottom: size(s-2);
        }

        .cta-button {
          background-color: clr(ora-400);
          color: #000;
          font-weight: fWeight(md);
          border: none;
          border-radius: round(xs);
          padding: size(s-1) size(s-2);
          font-size: fSize(sm);
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: clr(ora-400);
          }
        }
      }
    }
  }

  .features {
    margin-top: size(s-4);
    max-width: size(s-64);
    width: size(p-100);

    h2 {
      text-align: center;
      font-size: fSize(lg);
      color: clr(yel-300);
      margin-bottom: size(s-2);
    }

    .feature-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: size(s-2);

      .feature {
        background-color: clr(sla-950);
        padding: size(s-1) size(s-2);
        border-radius: round(xs);
        width: size(s-16);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          color: clr(ora-400);
          margin-bottom: size(s-0-5);
        }

        p {
          font-size: fSize(xs);
          color: clr(gra-100);
        }
      }
    }
  }

  .quote {
    margin-top: size(s-4);
    text-align: center;

    blockquote {
      font-style: italic;
      color: clr(gra-100);
      border-left: 4px solid clr(gra-100);
      padding-left: size(s-1);
      max-width: size(s-38);
      margin: auto;

      strong {
        color: clr(w);
        display: block;
        margin-bottom: size(s-0-5);
      }

      em {
        color: clr(gra-100);
      }
    }
  }
}