@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.page {
  display: flex;
  flex-direction: row;
  height: size(h-100);
}

.product-list {
  @include flexBoxCenter(none);
    height: size(p-100);
    width: size(p-100);
    flex-wrap: wrap;
    gap: size(s-1);
    padding: size(s-1);
    overflow-y: auto;
}

app-product-card {
  box-sizing: border-box;
  margin: auto;
}

app-cart{
  width: max-content;
  display: flex;
}