@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

::ng-deep p-menu {
  display: flex;
  position: fixed;
  height: size(h-100);

  .ng-trigger {
    background-color: $clr-blue-slate;
    color: $clr-gray-light;
  }

  .header {
    margin: size(s-2);

    .headline {
      font-size: fSize(md);
      font-weight: fWeight(md);
      cursor: pointer;
    }

    .headIcon {
      font-size: fSize(md);
    }
  }

  .p-menu-item-content {

    .items {
      @include flexBoxCenter(none);

      .itemIcon,
      .itemLabel {
        font-size: fSize(sm);
        color: $clr-gray-light;
      }
    }

    &:hover {

      .itemIcon,
      .itemLabel {
        font-size: fSize(sm);
        color: $clr-black;
      }
    }
  }

  .userSection {
    @include flexBoxCenter(column);
    width: size(full);
    margin-top: size(h-22);
    gap: size(s-1);
    text-align: center;

    .userIcon {
      font-size: fSize(md);
    }

    .userHeader {
      font-size: fSize(md);
      font-weight: fWeight(md);
    }

    hr {
      border-top: 1px solid $clr-white;
      border-bottom: none;
      width: size(s-8);
      margin: 0 0 1rem;
    }

    .userLevel {
      font-size: fSize(sm);
      color: $clr-blue-sky;
    }

    .userMoney {
      font-size: fSize(sm);
      color: $clr-green-primary;
    }

    .logout {
      @include flexBoxCenter(none);
      border-radius: round(sm);
      width: size(p-50);
      margin-top: size(s-2);
      padding: size(s-1);
      font-size: fSize(sm);
      font-weight: fWeight(md);
      background-color: $clr-red-primary;
      color: $clr-gray-light;
      cursor: pointer;
    }
  }
}

::ng-deep .p-menu-list {
  gap: size(s-0-5) !important;
}

.navbargap {
  width: size(s-26);
}