@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

::ng-deep p-menu {
    display: flex;
    position: fixed;
    height: 100svh;

    .ng-trigger {
        background-color: $clr-blue-slate;
        color: $clr-gray-light;
    }

    .header {
        margin: gap(md);

        .headline {
            font-size: fSize(md);
            font-weight: fWeight(md);
            cursor: pointer;
        }

        .headIcon {
            font-size: fSize(md);
        }
    }

    .p-menu-item-content {

        .items {
            @include flexBoxCenter(none);

            .itemIcon,
            .itemLabel {
                font-size: fSize(sm);
                color: $clr-gray-light;
            }
        }

        &:hover {

            .itemIcon,
            .itemLabel {
                font-size: fSize(sm);
                color: $clr-black;
            }
        }
    }

    .userSection {
        @include flexBoxCenter(column);
        width: size(full);
        margin-top: 22vh;
        gap: gap(xs);
        text-align: center;

        .userIcon {
            font-size: fSize(md);
        }

        .userHeader {
            font-size: fSize(md);
            font-weight: fWeight(md);
        }

        hr {
            border-top: 1px solid $clr-white;
            border-bottom: none;
            width: 8rem;
            margin: 0 0 1rem;
        }

        .userLevel {
            font-size: fSize(sm);
            color: $clr-blue-sky;
        }

        .userMoney {
            font-size: fSize(sm);
            color: $clr-green-primary;
        }

        .logout {
            @include flexBoxCenter(none);
            border-radius: var(--rounded-md);
            width: size('5/10');
            margin-top: gap(md);
            padding: gap(xs);
            font-size: fSize(sm);
            font-weight: fWeight(md);
            background-color: $clr-red-primary;
            color: $clr-gray-light;
            cursor: pointer;
        }
    }
}
::ng-deep .p-menu-list {
    gap: 10px !important;
}

.navbargap {
    width: size('400');
}