@use '../../../../styles/mixins' as *;

.gameContainer {
  @include flexBoxCenter(none);
  width: 100%;
  height: 100%;
  background-color: #A5531F;
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow-lg);
  flex-direction: column;
  padding: 2rem;

  div {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: #EAAF5E;

    &:last-child {
      font-size: 1.5rem;
      background-color: #482D11;
      border-radius: var(--rounded-md);
      cursor: pointer;
      padding: var(--gap-md);
    }
  }

  table {
    display: inline-table;
    background-color: #482D11;
    color: #482D11;
    font-weight: 700;
    padding: var(--gap-md);
    margin: 1rem 2rem;
    border-radius: var(--rounded-md);

    tr {
      td {
        font-size: 2rem;
        border: 2px solid #482D11;
        background-color: #EAAF5E;
        height: 4rem;
        width: 4rem;
        text-align: center;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }

        @media (width >=64rem) {
          height: 4rem;
          width: 4rem;
        }

        @media (width >=80rem) {
          height: 8rem;
          width: 8rem;
          border-width: 0.75rem;
          border-radius: 1.5rem;
          font-size: 4rem;
        }

        @media (width >=96rem) {
          height: 14rem;
          width: 14rem;
          border-width: 1rem;
          border-radius: 2rem;
          font-size: 10rem;
        }
      }
    }
  }

}