@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.gameContainer {
  @include flexBoxCenter(column);
  background-color: clr(ora-700);
  border-radius: round(sm);
  box-shadow: $box-shadow-lg;
  padding: size(s-2);

  div {
    text-align: center;
    font-weight: fWeight(md);
    font-size: 2rem;
    color: clr(ora-200);

  }

  .buttons {
    display: flex;
    gap: size(s-1);

    .onClick {
      display: flex;
      align-items: center;
      justify-content: center;
      width: size(s-16);
      font-size: 1.5rem;
      background-color: clr(bro-900);
      border-radius: round(sm);
      cursor: pointer;
      padding: size(s-1);
    }
  }

  table {
    display: inline-table;
    background-color: clr(bro-900);
    color: clr(bro-900);
    font-weight: fWeight(lg);
    padding: size(s-1);
    margin: size(s-1) size(s-2);
    border-radius: round(sm);

    tr {
      td {
        font-size: 2rem;
        border: 2px solid clr(bro-900);
        background-color: clr(ora-200);
        height: size(s-4);
        width: size(s-4);
        text-align: center;
        cursor: pointer;

        @include for-desktop-up {
          height: size(s-8);
          width: size(s-8);
          border-width: size(s-0-75);
          border-radius: 1.5rem;
          font-size: 4rem;
        }

        @include for-big-desktop-up {
          height: size(s-14);
          width: size(s-14);
          border-width: size(s-1);
          border-radius: 2rem;
          font-size: 10rem;
        }
      }
    }

  }

  .canHover:hover {
    opacity: 0.5;
  }
}