@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.card {
  width: size(s-16);
  height: size(p-100);
  background-color: clr(gra-100);
  margin: size(s-0-5);
  padding: size(s-0-5);
  border-radius: round(sm);
  box-shadow: $box-shadow-lg;
  cursor: pointer;

  .imgBox {
    position: relative;
    border-radius: round(sm);

    div {
      display: flex;
      position: absolute;
      right: 0;
      width: size(s-2);
      height: size(s-2);
      background-color: clr(blu-100);
      border-radius: round(sm);
      justify-content: center;
      align-items: center;
    }

    img {
      width: size(p-100);
      height: size(s-16);
      border-radius: round(sm);
      object-fit: cover;
      margin-bottom: -5px;
    }
  }

  .infoBox {
    @include flexBoxCenter(column);
    margin-top: 5px;
    text-align: center;
    font-size: fSize(sm);
    font-weight: fWeight(sm);
    gap: size(s-0-5);

    .productName {
      padding: size(s-0-25) 0;
    }

    .productPrice {
      padding: size(s-0-25) size(s-0-5);
    }
  }
}