@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: gap(md);
  width: size(full);
  height: size(full);

  .lootbox {
    height: 26rem;
    width: 20rem;
    background-color: $clr-white;
    margin: gap(xs);
    border-radius: round(lg);
    cursor: pointer;

    img {
      width: 20rem;
      height: 20rem;
      border-radius: round(lg);
    }

    p {
      text-align: center;
      font-size: fSize(md);
      font-weight: fWeight(md);
      margin: 0;
      margin-top: gap('2/4');

      &:last-child {
        font-weight: fWeight(md);
        font-size: fSize(sm);
      }
    }
  }

  @include for-big-desktop-up {
    width: size('8/10');
  }

  @include for-xl-desktop-up {
    width: size('7/10');
  }

  @media (min-width: 2280px) {
    width: size('6/10');
  }
}

.back-button {
  @include flexBoxCenter(none);
  background-color: $clr-blue-accent;
  color: var(--clr-light);
  font-size: fSize(lg);
  font-weight: fWeight(md);
  height: 26rem;
  width: 20rem;
  margin: gap(xs);
  border-radius: round(lg);
  cursor: pointer;

  &:hover {
    background-color: $clr-blue-deep;
  }

  @include for-big-desktop-up {
    width: 64rem;
    height: 8rem;
  }
}