@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.page {
  display: flex;

  .mainPage {
    width: size(w-100);
    display: flex;
    justify-content: center;
    padding: size(s-2) size(s-2);

    .content {
      @include flexBoxCenter(column);
      max-width: size(s-64);
      width: size(p-100);
      gap: size(s-2);
      .header{
        color: clr(w);
        font-size: fSize(xl);
      }
      .Picture {
        width: size(p-100);
        max-width: size(s-38);
        height: auto;
        border-radius: round(lg);
        box-shadow: $box-shadow;
      }

      .story {
        color: clr(w);
        font-size: fSize(sm);
        line-height: 1.7;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: 0 size(s-1);

        h2 {
          font-size: fSize(md);
          margin-bottom: 1rem;
          color: clr(ora-200);
        }

        blockquote {
          margin: size(s-1) 0;
          padding-left: size(s-1);
          border-left: 4px solid clr(gra-200);
          font-style: italic;
        }
        em {
          color: clr(gra-200);
        }
      }
    }
  }
}
